/node_modules
/frontend/node_modules
/frontend/.next
/frontend/.env*.local
/backend/vendor
/backend/.env
/backend/storage/*.key
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/testing/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/public/storage
/backend/public/hot
/.phpunit.result.cache
.DS_Store
Thumbs.db
